In [1]:
def print_number(a,b,c):
    print(a,b,c)

x = [10,40,70]
print_number(*x)

10 40 70

In [2]:
print(*x)

10 40 70

In [3]:
def add(*data):
    print(type(data))
    result = 0
    for d in data:
        result += d
    return result

In [5]:
print(add(10,20))
print(add(10,20))
x = (40,50,70)
print(add(*x))

<class 'tuple'>
30
<class 'tuple'>
30
<class 'tuple'>
160

In [6]:
def person_info(name, age, address):
    print('name:{} age:{} address:{}'.format(name, age, address))

print()
person_info('kim', 30, 'suwon')
person_info(age=40, address='incheon',name='lee')

name:kim age:30 address:suwon
name:lee age:40 address:incheon

In [7]:
def city_info(**data):
    for k, v in data.items():
        print(k,':',v)
    print()

In [9]:
city_info(seoul=90000, incheon=30230, busan=56222)

seoul : 90000
incheon : 30230
busan : 56222