In [2]:
import pandas as pd
import numpy as np

In [4]:
obj = pd.Series([4, 7, -5, 3])
print(obj)
print(obj.values)

obj2 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'a', 'c'])
print(obj2)

print(obj2['a'])
obj2['d'] = 6
print(obj2[['c', 'a', 'd']])

print(obj2 > 0)
print(obj2[obj2 > 0])
print(obj2 * 2)
print(np.exp(obj2))

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
a    4
b    7
a   -5
c    3
dtype: int64
a    4
a   -5
dtype: int64
c    3
a    4
a   -5
d    6
dtype: int64
a     True
b     True
a    False
c     True
d     True
dtype: bool
a    4
b    7
c    3
d    6
dtype: int64
a     8
b    14
a   -10
c     6
d    12
dtype: int64
a      54.598150
b    1096.633158
a       0.006738
c      20.085537
d     403.428793
dtype: float64
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [5]:
frame1 = pd.DataFrame(np.arange(6).reshape(2,3),
                      index=['first', 'second'],
                      columns=['one', 'two', 'three'])
print(frame1)

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

print(pd.DataFrame(data, columns=['year', 'state', 'pop']))

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop'],
                      index=['one', 'two', 'three', 'four','five', 'six'])
print(frame2)

print(frame2.columns)
print(frame2['state'])
print(frame2.year) #frame2['year']
print(frame2.loc['three'])

        one  two  three
first     0    1      2
second    3    4      5
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2
       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9
six    2003  Nevada  3.2
Index(['year', 'state', 'pop'], dtype='object')
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object
one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64
year     2002
state    Ohio
pop       3.6
Name: three, dtype: object

In [4]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
                      index=['Ohio', 'Colorado', 'Utah', 'NewYork'],
                      columns=['one', 'two', 'three', 'four'])

In [5]:
frame

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
NewYork    12   13     14    15

In [6]:
frame.iloc[2, [3,0,1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [9]:
frame.iloc[:, :3][frame.three > 5]

          one  two  three
Colorado    4    5      6
Utah        8    9     10
NewYork    12   13     14

In [10]:
frame.three > 5

Ohio        False
Colorado     True
Utah         True
NewYork      True
Name: three, dtype: bool